@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.services_btn {
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
}

.services__btnStyle {
  background: #ff3c2d;
  width: 215px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
