@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.button__down {
  width: 215px;
  height: 45px;
  background: #ff3c2d;
  border-radius: 3px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 40px 0 0 9%;
}
