.newsCase {
  display: flex;
  width: 25%;
  margin: 20px 3%;
  border-radius: 20px;
  background: #ffffff;
}

.newsText__atribute {
  display: flex;
  justify-content: space-between;
}

.news__description {
  color: #848484;
  font-size: 14px;
}

.conteiner__news {
  display: flex;
  flex-direction: column;
}

.news {
  news__description: justify;
}

.newsLogo {
  display: flex;
  text-align: center;
}

.newsCase:hover {
  background: deepskyblue;
  box-shadow: 0 0 40px aqua;
}

.newsLogo__img{
  width: 30%;
  height: 30%;
  margin: auto 0;
}

.newsLogo__h1{
  font-size: 18px;
  margin: auto 0;
}

.newsCase {
  background: lightcyan;
}

.tander {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
